{% extends 'core/base.html' %}
{% load static %}
{% block title %}Cambiar email{% endblock %}
{% block content %}
<style>.errorlist{color:red;} label{display:none}</style>
<main role="main">
    <div class="container">
        <div class="col-md-9 mx-auto mb-5">
            <form action="" method="POST">{% csrf_token%}
                <h3 class="mb-4">Nuevo email</h3>
                    {{form.as_p}}
                    <p>
                        <input type="submit" value="confirmar cambio" class="btn btn-primary btn--block">
                    </p>
            </form>
        </div>
    </div>
</main>
        
{% endblock %}