{% extends 'core/base.html' %}
{% load static %}
{% block title %}Subir imagen{% endblock %}
{% block content %}

<body>
    <form action="{% url 'gallery:upload_image' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <input id = "id_image" type="file" accept="image/*" name="requeried">
        </p>
        <p>
            Nombre de la imagen:
            < input id = "id_image" type="text" name="name" required>
        </p>
        <input type="submit" value="Submit" />
    </form>
</body>


{% endblock %}